.loader {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &__inner {
        height: 4rem !important;
        width: 4rem !important;
    }
}