@import '../../assets/sass/variables';

.hero {
    // height: 100vh;
    background-image: url(../../assets/images/background/hero.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    margin-bottom: 4.3rem;

    &__overlay {
        height: 100%;
        width: 100%;
        background-color: rgba($secondary, .97);
        padding: 70px 0;
        border-bottom: 1px solid rgba($white, .05);
    }
}