@import '../../assets/sass/mixins';

.error-boundary {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    &__title {
        font-size: 3rem;
        font-weight: 300;
        text-transform: capitalize;

        @include respond(medium) {
            font-size: 5rem;
            letter-spacing: 4px;
        }
    }

    &__desc {
        font-size: 1rem;
        font-weight: 300;
        margin-top: .6rem;
        letter-spacing: 1px;

        @include respond(medium) {
            font-size: 1.4rem;
        }
    }
}