@import '../../assets/sass/variables';
@import '../../assets/sass/mixins';

.media-description {
    padding: 3.5rem 0;

    @include respond(large) {
        padding: 4.3rem 0;
    }

    &__name {
        margin: 0;
        font-size: 1.875rem;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: capitalize;
    }

    &__details {
        font-size: .9rem;
        font-weight: 300;
        color: darken($light, 20);
        margin-top: 5px;
    }

    &__rating,
    &__date {
        &::after {
            content: '\007C';
            display: inline-block;
            margin: 0 .5rem;
        }
    }

    &__rating {
        svg {
            margin-right: 4px;
        }
    }

    &__text {
        font-weight: 300;
        line-height: 1.7;
        margin-top: 1rem;
    }
}