@import './variables';

html,
body {
    height: 100%;
}

body {
    background-color: $secondary;
    color: $light;
}

#root {
    height: 100%;
}

::selection {
    background: $primary;
}

.divider {
    border: 0;
    height: 1px;
    background: rgba($white, .05);
    margin: 3.75rem 0;
}